
<footer class="footer bg-green-soft-01 slice-pt">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-5">
          <h5 class="text-green mb-4">Join our newsletter.</h5>
          <form class="subscribe-form-francy">
            <input type="email" class="form-control rounded" placeholder="Enter your email address">
            <a href="#" class="btn btn-warning rounded">Subscribe</a>
          </form>
        </div> -->
        <div class="col-sm-8 col-lg-5 offset-lg-1 mt-lg-0 mt-4">
          <!--===== Start of footer item =====-->
          <h5 class="text-green mb-4">Address</h5>
          <ul class="list-unstyled pe-5">
            <li class="mb-2">7/2A, Amsaveni Illam, Anna nagar, Naickanur, No.4 Veerapandi Ward 13, Coimbatore - 641019</li>
            <li class="mb-2">+91 80569 39305</li>
            <li>info@example.com</li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
          <div class="footer-portfolio">
            <div class="social-icons icons-xl mt-4">
            <!-- <a class="icon" href="#!"> <i class="fab fa-facebook-f"></i> </a>
            <a class="icon" href="#!"> <i class="fab fa-twitter"></i> </a>
            <a class="icon" href="#!"> <i class="fab fa-pinterest"></i> </a>
            <a class="icon" href="#!"> <i class="fab fa-instagram"></i> </a>
            <a class="icon" href="#!"> <i class="fab fa-dribbble"></i> </a> -->
          </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <hr class="hr-light">
        </div>
      </div>
    </div>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0 text-light text-center">© 2023 <a target="_blank" href="">Vetripayanam </a>all right reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>