<section class="bg-fit overlay-black-50 page-header-bg" style="background-image: url(../../assets/image/charity/project/about.png);">
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-lg-8">
          <h1 class="text-white">About Vetripayanam</h1>
          <p class="lead text-white"></p>
            <h2 class="scroll-down"></h2>
        </div>
      </div>
    </div>
  </section>
  
   
  
  <section class="py-5 bg-warning position-relative">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12">
          <div class="mb-5 text-center">
            <h2 class="text-white">Make it happen, donate for a change.</h2>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 text-center">
          <h4 class="text-white"> 1,45,0000 </h4>
          <p class="mb-0 text-white" >Children & families served</p>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 text-center">
          <h4 class="text-white"> 4 - 6 years </h4>
          <p class="mb-0 text-white" >Our Global Partner</p>
        </div>
  
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0 text-center">
          <h4 class="text-white"> 4 - 6 years </h4>
          <p class="mb-0 text-white" >Our Global Partner</p>
        </div>
        
      </div>
    </div>
  </section>
  
  
  <section class="slice-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
  
  
          <h2>1. OBJECTS OF THE TRUST </h2>
  <p>1.1. EDUCATION</p>
  <p>(a) To start, run, maintain or assist any educational or other vocational institution for coaching. guidance, counseling, research, or vocational training or to grant individual scholarships for poor, deserving and needy students for elementary and higher education.</p>
  <p>(b) To train teachers and workers in ideals and practice of the true spirit of education and learning.</p>
  <p>(c) To organize talks, seminars, camps, debates, programmes and platforms to motivate and encourage the academic and allied skills of students.</p>
  <p>(d) To provide scholarships for deserving and needed students.</p>
  <p>&nbsp;</p>
  <p>1.2. CONSERVATION OF NATURE</p>
  <p>(a) To promote and protect natural herbs and plants by cultivation, preservation, storage, processing, demonstration, creating botanical garden and providing necessary training.</p>
  <p>(b) To engage and encourage protection of watersheds, spreading awareness on rainwater harvesting, drip irrigation system and other water management systems.</p>
  <p>(c) To encourage and explain the use of solar, wind, natural gas and other alternative energy sources.</p>
  <p>(d) To work against the exploitation of Animals &amp; Birds and make sincere efforts to protect them.</p>
  <p>&nbsp;</p>
  <p>1.3. WOMAN AND CHILD WELFARE</p>
  <p>(a) To organize Sexuality Education camps and awareness programmes for Children and Adolescents to help them to prevent themselves from not being victim of sexual seduction, sexual harassment, and sexual abuse.</p>
  <p>(b) To assist in the prevention of childhood disability, promote early detection for rehabilitation.</p>
  <p>(c) To educate woman on nutrition, hygiene and prevention of communicable diseases.</p>
  <p>(d) To strive for the eradication of child labourers by implementing suitable alternatives for their rehabilitation.</p>
  <p>(e) To assist in forming self-help groups to raise and improve the economic status of women.</p>
  <p>1.4. SOCIAL WELFARE AND DEVELOPMENT</p>
  <p>(a) To provide and facilitate legal assistance to underprivileged and poor section of trust to fight for their rights and justice.</p>
  <p>(b) To start and assist the relief and rehabilitation measures in those parts of the country which become affected to natural calamities like famine, fire, flood, tsunami, earthquakes and riots etc.</p>
  <p>(c) To take-up, initiate or assist social development activities or welfare programmes for bringing positive change in the lives of the common people.</p>
  <p><br />1.5. OBJECTIVES ANCILLARY OR INCIDENTAL TO THE ABOVE OBJECTIVES</p>
  <p>(a) To raise, solicit, receive, hold, distribute funds and accept gifts, donations subscriptions in cash or in kind or any other property either movable or immovable, from any person whether natural or legal, or government / government organizations government authority, or any trust/fund/ NGO or any other similar organization, whether&nbsp;lives / located / situated / govern in or outside India, for the purpose of achieve, promote and furtherance of the objectives of the trust.</p>
  <p>(b) To acquire, purchase, license or otherwise own or undertake either on loan or lease or hire temporality or permanently or otherwise and to hold, manage or otherwise deal with<br />the movable or immovable property, rights and privileges which are in the view of the board of trustees necessary, expedient or convenient for achieve, promote and furtherance of the objectives of the trust.</p>
  <p>(c) To sell, alienate, lease, hire, mortgage, pledge, hypothecate, transfer, surrender, give license, dispose-off partially or fully or otherwise deal with all or any of the movable or immovable properties of the trust for replacement, relocation, dispose-off or acquire funds as the board of trustee may decide for the benefits of the trust and its objectives.</p>
  <p>(d) To construct, maintain, alter, improve or develop any building belonging to the trust or works necessary or convenient for purpose of the trust.</p>
  <p>(e) To publish books, magazines, charts, issue related IEC (Information, Education and Communication) materials and other periodical illustrations for generating the income for the benefit of the trust and its objectives.</p>
  <p>(f) To appoint agents, representatives and employees on such conditions as the board of trustee decide necessary.</p>
  <p>(g) To open and operate accounts of any description with any Banks.</p>
  <p>(h) To initiate or respond to any legal proceeding which are necessary to protect the property or interest of the trust or its objectives.</p>
  <p>(i) To celebrate annual day of the trust every year as cultural &amp; social event.</p>
  <p>(j) To advancement any other objects of general public utility without affecting the objectives of the trust and subject to laws, rules and regulation for the time being governing the trust and its operations.</p>
        </div>
      </div>
    </div>
  </section>